.section-our{
  margin-bottom: 244px;
}


.section-our__image{
  border-radius: 10px;
  height: 520px;
  background-position: center;

  
  
}





.section-our__box{
  margin-left: 85px;
  display: flex;
  align-items: center;
  
  
}

.section-our__our-box{
  margin-left: 125px;
}


.section-our__text{
  font-family: "Fraunces" , "serif";
  margin: 0px;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  color:#333D4B;
  
}


.section-our__box-poragraf{
  width: 540px;

}


.section-our__poragraf{
  font-weight: 400;
  line-height: 26px;
  margin: 0px;
  margin-top: 32px;
}



@media only screen and (max-width:768px){

  .section-our__box{
  
    padding: 0 40px;
  }

  .section-our__image{
    max-width: 281px;

  }

}













