.section-last{
  margin-bottom: 168px;
}

.section-last__list{
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-left: 85px;
}


.section-last__herro{
  font-family: "Fraunces" , "serif";
  color:#83888F;
  font-size: 24px;
  line-height: 32px;
  font-weight: 900;
  margin: 0px;
  margin-left: 85px;
  margin-bottom: 72px;
}

  
.section-last__item-text{
  font-family: "Fraunces" , "serif";
  font-size: 2em;
  font-weight: 900;
  line-height: 36px;
  color:#121111;
  margin-top: 45px;
  margin-bottom: 24px ;
}



.section-last__address{
  width: 285px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color:#333D4B ;
}

.section-last__item--active{
  margin-left: 108px;
  margin-right: 125px;
}